@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?g9crb7');
	src:url('fonts/icomoon.eot?#iefixg9crb7') format('embedded-opentype'),
		url('fonts/icomoon.woff?g9crb7') format('woff'),
		url('fonts/icomoon.ttf?g9crb7') format('truetype'),
		url('fonts/icomoon.svg?g9crb7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-spinner9:before {
	content: "\e982";
}

.icon-spinner11:before {
	content: "\e984";
}

.icon-shrink2:before {
	content: "\e98c";
}

.icon-wrench:before {
	content: "\e991";
}

.icon-equalizer:before {
	content: "\e992";
}

.icon-cog:before {
	content: "\e994";
}

.icon-list:before {
	content: "\e9ba";
}

.icon-menu:before {
	content: "\e9bd";
}

.icon-sphere:before {
	content: "\e9c9";
}

.icon-eye:before {
	content: "\e9ce";
}

.icon-star-empty:before {
	content: "\e9d7";
}

.icon-heart:before {
	content: "\e9da";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-minus:before {
	content: "\ea0b";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-checkmark2:before {
	content: "\ea11";
}

.icon-arrow-up:before {
	content: "\ea32";
}

.icon-arrow-right:before {
	content: "\ea34";
}

.icon-arrow-down:before {
	content: "\ea36";
}

.icon-arrow-left:before {
	content: "\ea38";
}

.icon-arrow-up2:before {
	content: "\ea3a";
}

.icon-arrow-right2:before {
	content: "\ea3c";
}

.icon-arrow-down2:before {
	content: "\ea3e";
}

.icon-arrow-left2:before {
	content: "\ea40";
}

.icon-circle-up:before {
	content: "\ea41";
}

.icon-circle-right:before {
	content: "\ea42";
}

.icon-circle-down:before {
	content: "\ea43";
}

.icon-circle-left:before {
	content: "\ea44";
}

.icon-ctrl:before {
	content: "\ea50";
}

