lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
.idea/

build/**/*.js
build/**/*.css

doc/vendor/
doc/app/ng-quick-table.js

doc/css/*.css

doc/images/
uploads/