*, *:before, *:after {
	 -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
// ------------------------
// ------------flex box---------
.flex-conainer{
	display: flex;
	&.flex-row{
		flex-direction: row;
	}
	&.flex-column{
		flex-direction: column;
	}
}
.flex{
	// flex:1 1 auto;
	// flex-grow:auto;
	flex:1;
	// 用下面参数指定自己的位置
	// align-self: auto | flex-start | flex-end | center | baseline | stretch;
}
// older version, what i used before, put it here 以防万一
.grid {
  /*  As of August 2012, only supported in Chrome 21+ */
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  min-height: 200px;
}
.fluid {
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1; 
  flex: 1;
}
// -----------------
// -======================================= center an div =============
	/* This parent can be any width and height */
	.ua-centered-wraper {
	  text-align: center;
	}
	/* The ghost, nudged to maintain perfect centering */
	.ua-centered-wraper:before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;
	  margin-right: -0.25em; /* Adjusts for spacing */
	}

	/* The element to be centered, can
	   also be of any width and height */ 
	.ua-centered {
	  display: inline-block;
	  vertical-align: middle;
	  max-width: 95%;
	}
